<h1><b><%= link_to "", new_item_path, class: 'glyphicon glyphicon-plus' %></b></h1>
  
     <% @items.each do |item| %>
    
    <h2><%= link_to item.name, item, class: 'a' %></h2>
        <%= item.description %>
        
        <div class="form-group">
        <span class="label label-primary"><%= item.days_left %></span>
        
        <%= link_to "", completed_item_path(item), method: :patch, class: 'glyphicon glyphicon-ok' %>
        <%= link_to "", item, method: :delete, class: 'glyphicon glyphicon-remove-circle' %>
        
      
<% end %>


