<h1><header class='name'><%= @item.name %></header></h1>
 <p><%= @item.description %></p>
 
   <div class= 'container'>
     <span class="label label-primary"><%= @item.days_left %></span>
      
         <%= link_to "", items_path, class: 'glyphicon glyphicon-arrow-left' %>
         <%= link_to "", edit_item_path(@item), class: 'glyphicon glyphicon-pencil' %>
   </div>